* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(222, 231, 231);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e2d45b;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.App {
	width: 500px;
	border-radius: 30px;
	padding: 40px;
	background-color: #fff;
	position: relative;

	.result {
		text-align: center;

		button {
			font-weight: bold;
			font-family: 'Nunito', sans-serif;
			border-radius: 30px;
			border: 0;
			padding: 15px 30px;
			font-size: 20px;
			background-color: darken(#55a6f2, 3%);
			color: #fff;
			margin-top: 20px;
			cursor: pointer;
		}

		h2 {
			margin: 20px;
		}

		img {
			width: 150px;
		}
	}

	.progress {
		height: 10px;
		border-radius: 30px;
		background-color: rgb(232, 232, 232);
		margin-bottom: 25px;

		&__inner {
			height: 100%;
			border-radius: 30px;
			width: 80%;
			background: rgb(18, 231, 48);
			transition: all 0.3s ease-in-out;
			background: linear-gradient(
				90deg,
				rgba(18, 231, 48, 1) 0%,
				rgba(0, 212, 255, 1) 100%
			);
		}
	}

	&:before,
	&:after {
		content: '';
		display: block;
		height: 50px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&:before {
		width: 95%;
		bottom: -10px;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 0;
	}

	&:after {
		width: 90%;
		bottom: -20px;
		background-color: rgba(255, 255, 255, 0.3);
		z-index: 1;
	}

	h1 {
		margin: 20px;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			padding: 15px;
			border: 2px solid rgba(0, 0, 0, 0.1);
			border-radius: 15px;
			margin-bottom: 15px;
			cursor: pointer;
			transition: all 0.1s ease-in-out;

			&:hover {
				border: 2px solid rgba(228, 29, 195, 0.3);
			}
		}
	}
}
